<div class="home__container">

  <app-card
    gameCover="assets/bt-7.jpg"
    gameLabel="MODERN WARFARE II CROSS-GEN BUNDLE"
    gameType="PS4| PS5"
    gamePrice="R$ 164,50"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-8.jpg"
    gameLabel="MODERN WARFARE III"
    gameType="PS4| PS5"
    gamePrice="R$ 209,30"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-9.jpg"
    gameLabel="MODERN WARFARE 2 CAMPAIGN REMASTERED"
    gameType="DISC | PS5"
    gamePrice="R$ 79,90"
  >
  </app-card>
</div>


